{% extends 'base.html' %}

{% block title %}Tag Page{% endblock %}

{% block header %} <h1>{{tag.name}} </h1> {% endblock %}

{% block content %}
<div id="tag">
    <ul>
        {% for post in tag.tag_posts %}
        <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <form action="/tags/{{tag.id}}/edit">
        <button type="submit">Edit</button>
    </form>
    <form action="/tags/{{tag.id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>
{% endblock %}