{% extends 'base.html' %}

{% block title %}Users Page{% endblock %}

{% block header %} <h1>Users</h1> {% endblock %}


{% block content %}
{% for msg in get_flashed_messages() %}
<p>{{ msg }}</p>
{% endfor %}
<div id="user_list">
    <ul class="list">
        {% for user in users %}
        <li><a href="/users/{{ user.id }}">{{ user.first_name }} {{user.last_name}}</a></li>
        {% endfor %}
    </ul>
    <form action="/users/new">
        <button class="new_user_btn" name="new_user">New User</button>
    </form>
</div>
{% endblock %}