.card-link {
    margin-left: 1rem;
    padding-top: .5rem;
}

.card-link-meta {
    margin-left: 1rem;

}

.card-link :hover {
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}

.lc-div {
    padding-left: 4rem;
    display: inline-block;
}

.others-toast {
    position: absolute;
    z-index: 99;
}