* {
    box-sizing: border-box;
}

#top-half {
    background-color: rgba(0, 254, 216, 0.58);
    height: 35vh;
}

#top-half h1 {
    margin-top: 0;
    font-family: "DM Mono", monospace;
    color: rgb(246, 241, 241);
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

p, form, input{
    text-align: center;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

form {
    display: grid;
}

img {
    width: 500px;
    height: 100%;
    
}

.first-img {
    display: flex;
    position: absolute;
    white-space: nowrap;
    /* border: 2px solid black; */
    left: 20%;
    top: 40%;
   
}
.second-img {
    display: flex;
    position: absolute;
    white-space: nowrap;
    /* border: 2px solid black; */
    left: 55%;
    top: 40%;
}

.submitBtn {
    cursor: pointer;
}

.removeBtn {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(56, 56, 56, 0);
    font-size: 100%;
    font-weight: 900;
    font-stretch: ultra-expanded;
    border: none;
}

.removeBtn:hover {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    cursor: pointer;
    color: white;
    background-color: rgba(56, 56, 56, 0.5);
    font-size: 100%;
    font-weight: 900;
    font-stretch: ultra-expanded;
    transition: all 1s ease;
}

html, body {
    margin: 0;
    padding: 0;
}

/* #top-half, #first-field, #second-field {
    border: 1px solid black;
} */

#first-field {
    display: inline-block;
    
    vertical-align: bottom;
    height: 65vh;
    width: 100vw;
    padding: 0;
    
    
}

/* #second-field {
    display: inline-block;
    position: absolute;
    height: 62.5vh;
    width: 48.9vw;
} */

.topTxt {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -2px -2px 2px black;
    font-size: large;
    font-weight: 900;
    color: white;
    font-size: 4em;
    top: -15%;
    left: 20%;
    margin: 0;
    padding: 0;
}
.btmTxt {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -2px -2px 2px black;
    font-size: large;
    font-weight: 900;
    color: white;
    font-size: 4em;
    bottom: -15%;
    left: 8%;
    margin: 0;
    padding: 0;
}