{% extends 'base.html' %}

{% block title %}Forex Home{% endblock %}

{% block header %}<h1>Forex Converter</h1>{% endblock %}

{% block content %}

<form action="/convert" method="POST">
  <label for="currcode1">Converting from</label>
  <input type="text" id="currcode1" name="currcode1"> <br>
  <label for="currcode2">Converting to</label>
  <input type="text" id="currcode2" name="currcode2"> <br>
  <label for="amount">Amount</label>
  <input type="text" name="amount"><br>
  <button type="submit">Convert</button>
</form>
{% for msg in get_flashed_messages() %}
<p>{{ msg }}</p>
{% endfor %}
{% endblock %}