{% extends "base.html" %}

{% block title %}Boggle{% endblock %}

{% block content %}

<div id="game-container">
    <span id="timer">Time:</span> <span id="seconds">60</span>
    <span>Score:</span> <span id="score">0</span>
    <table id="board">
        <tbody>
            {% for list in game %}
            <tr class="row{{loop.index}}">
                {% for letter in list %}
                <td class="lett">{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="" id="guess" name="guess">
        <input type="text" class="guessInput" name="guess">
        <button type="submit" class="guessBtn" form="guess">Guess!</button>
    </form>
</div>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/guess.js"></script>
{% endblock %}