{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1>Welcome to {{pet.name}}s page!</h1>
{% endblock %}

{% block content %}
<div id="pet_display">
    <p>
        <img src="{{pet.photo_url}}" alt="" width="350" height="200">
        <br>
        Name:{{pet.name}}
        <br>
        Species:{{pet.species}}
        <br>
        {% if pet.age %}
        Age:{{pet.age}}
        {% endif %}
    </p>
</div>
<form id="edit-pet-form" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button type="submit">Submit</button>
</form>
{% endblock %}